
.h1{
    text-align: center;
    color:rgb(232, 242, 249);
    font-size: 42px;
    font-weight: 700;
}

.p{
   font-size: 27px;
   font-family: 'Courier New', Courier, monospace; 
   font-weight: 700;
   background-color: white;
   line-height: 340%;
} 

.p:hover{
    background-color: rgb(230, 228, 228);
}

.btn{  
    padding: 12px 24px;
    background-color: #566c83;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;

}

.btn a{
        text-decoration: none;
    font-size: 22px;
    color:white;
    font-weight: 700;  
}

.btn:hover{
    background-color: #415366;
    cursor: pointer;
}

